{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">

 <div class="card-body">
   <h4 class="card-title">Rate edit</h4>
    {{ form_start(edit_form, { 'attr' : { 'class': 'form form--simple' } }) }}
    {% form_theme edit_form 'fields.twig' %}
      <div class="form-group">  
        <input class="btn btn-primary" type="submit" value="update" />
        </div>
    {{ form_end(edit_form) }}
 </div>
          

            <a href="{{ path('rates_index') }}">Back to the list</a>

            
            </div>
            </div>
{% endblock %}
